# Pandas

In [9]:
import pandas as pd
df= pd.read_excel("/Excelsheet.xlsx")
df= pd.read_excel("/Excelsheet.xlsx")
print (df)
print (df.head())
print (df.tail())
print (df.info())
print (df.describe())

   s.no     NAME Address  Gender
0    1.0   TANNU   Delhi     NaN
1    2.0    Neha  Mumbai  Female
2    3.0     NaN   Delhi  Female
3    4.0   Priya     NaN  Female
4    NaN  Sachin  Mumbai     NaN
5    6.0   Rohit   Delhi    Male
6    7.0   Rajan   Delhi    Male
7    8.0     NaN  Mumbai     NaN
8    9.0  Aniket     NaN    Male
9   10.0   Mehak   Delhi  Female
   s.no     NAME Address  Gender
0    1.0   TANNU   Delhi     NaN
1    2.0    Neha  Mumbai  Female
2    3.0     NaN   Delhi  Female
3    4.0   Priya     NaN  Female
4    NaN  Sachin  Mumbai     NaN
   s.no     NAME Address  Gender
5    6.0   Rohit   Delhi    Male
6    7.0   Rajan   Delhi    Male
7    8.0     NaN  Mumbai     NaN
8    9.0  Aniket     NaN    Male
9   10.0   Mehak   Delhi  Female
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   s.no     9 non-null      float64
 1   NAME     8 non-null      object
 2   Address  8 non-null      object
 3   Gender   7 non-null      object
dtypes: float64(1), object(3)
memory usage: 452.0+ bytes
None
           s.no
count   9.000000
mean    5.555556
std     3.205897
min     1.000000
25%     3.000000
50%     6.000000
75%     8.000000
max    10.000000